<footer>
    <div class=" footer f-info sticky-bottom">
        <div class="f-socilamedia">
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>