body{
    font-family: "Plus Jakarta Sans ",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
height: 5rem;
background-color: aliceblue;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-links a{
    text-decoration: none;
    color: #222222;
}
.f-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    
}
.f-links,
.f-socilamedia,.f-brand{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-socilamedia i{
    margin-right: 2rem;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400 !important;
    text-decoration: none !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.links{
    text-decoration: none !important;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-image{
    height: 40vh;
    width: 50vh;
}
.edit{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
#filters{
    display: flex;
    flex-wrap: wrap;
   
}
.filter{
    text-align: center;
    margin-right: 1rem;
}
.filter{
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
}