<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h2  class="col-8 offset-2">Login to wonderlust</h2>
    <div class="col-8 offset-2">
        <form action="/login" method="post" >
             <div class="mb-3">
         <label for="username" class="form-label">Username</label>
        <input name="username" type="text" placeholder="enter username" class="form-control" required>
      <div class="valid-feedback">
        Username looks good!
        </div>    
      </div>
      
      
      <div class="mb-3">
         <label for="password" class="form-label">password</label>
        <input name="password" type="password" placeholder="enter password" class="form-control" required>
      <div class="valid-feedback">
        password looks good!
        </div>   
      </div>
      
      <button class=" btn btn-dark add-btn">submit</button>
        </form>
    </div>        
</div>    